<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">

  <div id=heading>
  <h1>
    Welcome to {{ title |uppercase}}!
   
  </h1>
</div>

<h4> {{name}}   is learning angular</h4>


<h5>Number addition {{(num1+num2)| currency : 'INR'}}</h5>
<h5>Number subtraction {{num4*num3}}</h5>


<h3>Current Date = </h3>
  {{displayDate()}}
<app-family></app-family>
Shop :

<a routerLink="/catalog">Catalog</a>
<a routerLink="/products">Products</a>
<a routerLink="/todo">Task</a>
<a routerLink="/remote">RemoteCall</a>
<router-outlet ></router-outlet>
